*, 
*:before, 
*:after{
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    margin: 0;
    padding:0;
    background-color: rgb(234, 151, 17);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
label{
    display:block;
}